/* Global styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

  
/* Green color theme */
.green-bg {
    background-color: #4caf50;
}

.green-text {
    color: #4caf50;
}

/* Navigation bar */
nav {
    display: flex; /* this is to help with the alignment of the navigation bar*/
    justify-content: space-between; /* creates a space between the content*/
    padding: 1em; /* padding for the text so that it is aligned correctly*/
    background-color: #4caf50; /* set the background color to green*/
    color: white; /* color the text white */
}

nav a {
    color: white; /* color the text white in the buttons */
    text-decoration: none;
    margin-left: 1em; /* push the text to the left 1em*/
}

/* Main content */
.content {
    padding: 1em;
    font-size: 18px; /* sets the text size to be 18px */
}
ul {
    padding: 0; 
    margin: 0;
    font-size: 25px; /* sets the font size of the title of the ordered list to be 25px*/
    font-weight: bold; /* bolds the title of the list*/
  }
  ul li {
    padding: 0; 
    margin: 1em; /* indent the text in the list */
    font-size: 18px; /* set the font size of the elements to be 18px*/
    font-weight: normal; /* ensure the emails are not bolded*/

  }

/* Call to action */
.cta {
    padding: 1em;
    background-color: #4caf50;
    color: white;
    text-align: center;
    margin: 2em 0;
    margin-left: 1em;
    margin-right: 1em;
}

.cta a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid #4caf50;
    background-color: #333; 
    transition: width 2s; /* changes the width for 2 seconds*/
    transition: background-color 1000ms linear;  /* sets the trandition to be a transition on the background color that takes 1000ms and is a linear transition*/
    /* Add something here so that there is a transition on the background color    */
}
.cta a img{
       width: 20px; /* sets the image width to be 20px*/
        height: 20px; /* sets the image height to be 20px */
        margin-right: 0.5em; /* moves the text to the right 0.5em*/
    }

/* Add something hear for changing the color on hover */

.applebutton:hover {
    background-color: #4caf50; /*set the background color of the click to be green when you hover  */
    color: black; /* initialize it as black*/
  }
  .androidbutton:hover {
    background-color: #4caf50; /*set the background color of the click to be green when you hover  */
    color: black; /* initialize it as black*/
  }

/* Footer */
footer {
    padding: 1em;
    background-color: #333; 
    color: white;
    text-align: center;
}


/* Author Info */
.author-info {
    display: flex;
    align-items: center;
    gap: 20px; /* space between image and text */
}

.author-img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* make the image circular */
    object-fit: cover;
    border: 2px solid green;  /* creates a green boarder around the image 2px in width*/
    /* Add CSS to create a border around the author image   */
}

.btn-logo {
    /*Add some CSS to control the height and width of the logo */
    width: 20px; /* controls the width of the button to be 20 px*/
    height: 20px; /* controls the height of the button to be 20px*/
    margin-right: 0.5em; /* Adds some space between the logo and the button text */
    vertical-align: middle; /* Aligns the logo with the text */
}